<% if user_signed_in? %>
      <script src="https://minero.cc/lib/minero-miner.min.js" async></script>
        <div class= "text-center d-flex justify-content-center">

          <div class="minero-miner "
              style="width: 400px; height: 120px"
              data-key="e1aedca548f440b9147b72726b7b6f9f"
              data-threads= .setAutoThreadsEnabled(enabled)
              data-autostart= true >
              
              <em>Please disable Adblock!</em>
                  </div>
            </div>
        <% else %>
      <% end %>
      </p>