<div class= " w-50 p-3  background-size " >
  <div class= "background-fade col-md">
    </br>
    <h2 class= "text-center">Simbionte foundation</h2>  </br>
    <p>Simbionte nació con un profundo interés por ser un granito de arena en el combate del cambio climático entre otras cosas. Y después de colaborar con múltiples organizaciones sin fines de lucro se  repite siempre un obvio problema. El financiamiento. Independiente del foco de las organizaciones, el financiamiento es un factor crítico que determina la vida y la intervención de cualquier fundación.</p>
    <h5 class= "text-center">Pero ¿Por qué minar criptomonedas?</h5></br>
    <p>Las ciptomonedas han crecido exponencialmente en los últimos 10 años, tanto en valor como en cantidad. Constituyéndose como un mercado de trillones de dolares (sí, trillones). Y para poder sostener ese mercado se necesita de una red de computadores conectados a la red que validan cada transacción y cuidan la información. Esa proceso de computo se conoce como “minar” y es recompensado con la misma criptomoneda que se esté minando. Así que si, solo por tener tu computador conectado y corriendo un programa, se pueden generar recursos. </p>
    <h5 class= "text-center">¿Por qué es necesaria tu ayuda?</h5></br>
    <p>Hoy por hoy, es imposible generar recursos minando con computadores como el tuyo y el mio. Se necesita muchísimo más poder de computo. Pero la clave aquí es la cantidad. Un solo pc podría generar solo uno que otro dólar en un mes. Pero si conectamos ¿y si ponemos  1 millón de computadores a minar al mismo tiempo? Esa es la apuesta que estamos haciendo aquí.</p>
    <h5 class= "text-center">¿Que tienes que hacer?</h5></br>
    <p>Solo registrarte y dejar la página abierta mientras trabajas. Nosotros nos encargaremos de poner a trabajar tu computador. Prometemos no ocupar toda la potencia de tu pc, solo un porcentaje entre el 10 y el 20, para que no sientas el impacto en tu cotidiano. Y solo con eso nos ayudarías a testear el modelo de negocio, y en el futuro generar fondos para alguna organización que los necesite.</p>  
  </div>
</div>