<div class= " w-50 p-3  background-size " >
  <div class= "background-fade col-md text-center">
    </br>
    <h5>Escríbenos</h5>  </br>
    <h2>contacto@simbionte.cl</h2>  </br>

    <%= render 'landing/miner' %> 


    <p>Estamos recién partiendo, por lo que ideas, comentarios, opiniones. Todo es importante y nos puede ayudar en nuestra causa</p>
    
  </div>
</div>