<div class= " w-50 p-3  background-size " >
  <div class= "background-fade col-md">
    </br>
    <div class= "text-center d-flex justify-content-center">
    <script src="https://minero.cc/lib/minero-miner.min.js" async></script>
        <div class="minero-miner "
            style="width: 400px; height: 120px"
            data-key="e1aedca548f440b9147b72726b7b6f9f"
            data-threads= .getAutoThreadsEnabled(true)
            data-autostart= true >
            
            <em>Please disable Adblock!</em>
                </div>

    </div> </br>
    <h3 class= "text-center">¡Ya eres un minero voluntario!</h3>
    
        
  </div>
</div>

