

<div class= " w-50 p-3  background-size clearfix" >
  <div class= "background-fade col-md">

    </br>
    <h1 class= "text-center">¡Bienvenidos amigos!</h1> </br>
    <%= render 'landing/miner' %> 
      
    <p>En Simbionte tuvimos una idea y queremos su ayuda.</p>
    <p>Queremos minar criptomonedas colaborativamente y vía web, con el objetivo de generar recursos para financiar organizaciones sin fines de lucro.</p>
    <p>Aún no nos asociamos a una organización en particular, y ni tampoco nos hemos organizado nosotros como una, ya decidimos por partir por el desafío técnico. Si vemos que esto funciona seguiremos avanzando en constituirnos y asociarnos con actores clave.</p> </br>
    <h5 class= "text-center">¿Nos prestarías algunos hash por segundo de tu CPU para evaluar la funcionalidad del modelo?</h5> </br>
    <p>Solo debes inscribirte y dejar la página abierta mientras trabajas o navegas. Nosotros nos encargamos del resto. Prometemos ir informando los resultados y avances del proyecto.</p>
        
  </div>
</div>